{%extends 'all-photo/base.html'%} 
{% block content %}
<div class="container">

  <div class="row">
    {% if pictures%}
      <h2>Found {{ pictures|length }} of searched term {{message}}</h2>
    {% else %}
      <h2> {{message}}</h2>
    {% endif %}

  </div>

  <div class="row">

  {% if pictures %}
    {% for picture in pictures %}
      <div class="col-sm-6 col-md-3">
        <img src="{{picture.image.url}}" style="width: 300px; height: 240px;">
      </div>
    {% endfor %}
  {% endif %}
  </div>
</div>
{% endblock %}